.HomeSection{
    padding: 8rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccdce7;
}
.left{
    display: block;
    margin-bottom: 300px;
    text-align: justify;
    margin-top: 30vh;
}
.left p{
    font-size: 5rem;
    color:black;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
}

.left h1{
    font-size: 1.6rem;
    color: black;
    margin-bottom: 3rem;
    font-family:  'Crimson Text', serif;
}

.btn-flip{
	opacity: 1;
	outline: 0;
	color: #fff;
	line-height: 40px;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Open Sans';
	text-transform: uppercase;
	
	&:hover{
		
		&:after{
			opacity: 1;
			transform: translateY(0) rotateX(0);
		}
		
		&:before{
			opacity: 0;
			transform: translateY(50%) rotateX(90deg);
		}
	}
	
	&:after{
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		color: #b3b1b1;
		display: block;
		transition: 0.5s;
		position: absolute;
		background: #656566;
		content: attr(data-back);
		transform: translateY(-50%) rotateX(90deg);
        border-radius: 50px;
	}
	
	&:before{
		top: 0;
		left: 0;
		opacity: 1;
		color: #adadaf;
		display: block;
		padding: 0 30px;
		line-height: 40px;
		transition: 0.5s;
		position: relative;
		background: #323237;
		content: attr(data-front);
		transform: translateY(0) rotateX(0);
        border-radius: 50px;
	}
}


.right{
    display: block;
    margin-bottom: 400px;
}
.right img{
    margin-top: 30vh;
    width: 100%;
    height: 100%;
    animation: float 2.1s infinite alternate;
    display: block;
    /* margin: auto; */
    padding: none;
}
.shadow{
    width: 300px;
    padding-left: 500px;
    height: 450px;
    height: 45px;
    background: hsla(38, 21%, 19%, .16);
    border-radius: 50%;
    filter: blur(5px);
    animation: shadow 2.1s infinite alternate;
}
@keyframes float{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(15px);
    }
}
@keyframes shadow{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(.85,.85);
    }
}