.HomeSection{
    padding: 8rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    display: block;
    margin-bottom: 300px;
    text-align: justify;
    margin-top: 30vh;
}
.left p{
    font-size: 5rem;
    color:black;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
}

.left h1{
    font-size: 1.6rem;
    color: black;
    margin-bottom: 3rem;
    font-family:  'Crimson Text', serif;
}

.btn{
    padding: 1.5rem 5rem;
    background:linear-gradient(0deg, rgba(240, 176, 0, 0.856) 0%, rgba(253, 215, 0, 0.808) 100%);
    border-radius: 40vh;
    color: #fffafa;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.3s ease;
}
.btn:hover{
    box-shadow: 0 1px 4px #ff0202;
}

.right{
    display: block;
    margin-bottom: 400px;
}
.right img{
    margin-top: 30vh;
    width: 100%;
    height: 100%;
    animation: float 2.1s infinite alternate;
    display: block;
    /* margin: auto; */
    padding: none;
}
.shadow{
    width: 300px;
    padding-left: 500px;
    height: 450px;
    height: 45px;
    background: hsla(38, 21%, 19%, .16);
    border-radius: 50%;
    filter: blur(5px);
    animation: shadow 2.1s infinite alternate;
}
@keyframes float{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(15px);
    }
}
@keyframes shadow{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(.85,.85);
    }
}