
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}



 .header{
    width: 100%;
    position: fixed;
    background-color:transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    z-index: 100;
}
.activeHeader{
    border-bottom: 1px solid rgb(207, 199, 199);
    background: rgb(212, 206, 206);
    padding: 0.5rem 2rem;
    transition: 1.5s;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #000000;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #ffe70e;
}

.header .btn2 button{
    margin-left: 20px;
    font-weight: 700;
    color: #000000;
    padding: 9px 25px;
    background: #9c9da0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn2 button:hover{
    background-color: #3e3f3f;
    color:  #ffe70e;
    transform: scale(1.1);
}












/* .header{
    width: 100%;
    padding: 5px 100px;
    position: fixed;
    z-index: 100;
    border: 1px solid black;
}

.activeHeader{
    border-bottom: 1px solid white;
    background: linear-gradient(0deg, rgb(121, 119, 119) 0%, rgb(146, 144, 144) 100%) ;
    padding: 0.5rem 2rem;
    transition: 1.5s;
}
.text{
    font-family:  'Crimson Text', serif;
    font-size: 80px;
}
.navigation{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.logo img{
    position: 50px;
    margin-top: 2px;
    margin-left: 80px;
    max-width: 100px;
    padding: 0 !important;
    margin: 0 !important;
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 60px;
}
.navigation ul li a{
    color: #000000;
    font-size: 1.2rem;
    transition: all .1s ease;
}
.navigation ul li a:hover{
    border-bottom: 3px solid rgb(221, 168, 21);
} */

